nav .brand-logo {
  padding-left: 2em; }

.chatWin {
  display: inline;
  padding: 2em; }

.chatDate {
  display: inline;
  color: #ccc;
  font-size: .75em; }

#inputMsg {
  width: 85%; }

#chatList {
  padding: 2em; }

i.small {
  display: inline; }
